.btn__round {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;

  .btn__icon {
    width: 24px;
    height: 24px;
    line-height: 0;
    &:first-child {
      margin-right: 6px;
    }
    &:last-child {
      margin-left: 6px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .btn__label {
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
  }

  &-gray {
    color: #0f0f0f;
    background: rgba(0, 0, 0, 0.05);
    .btn__icon,
    .btn__label {
      color: #0f0f0f;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    &:active {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  &-ghost {
    .btn__icon,
    .btn__label {
      color: #0f0f0f;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &-ghost-blue {
    .btn-icon,
    .btn-label {
      color: #065fd4;
    }
    &:hover {
      background: #def1ff;
    }
    &:active {
      background: #cbd8e3;
    }
  }

  &-blue {
    background: #065fd4;
    .btn__icon,
    .btn__label {
      color: #fff;
    }
    &:not(disabled) {
      &:hover {
        background: #2455b8;
      }
      &:active {
        background: #88a3d9;
      }
    }
    &:disabled {
      background: #f2f2f2;
      pointer-events: none;
      .btn__label {
        color: #909090;
      }
    }
  }

  &-black {
    background: #0f0f0f;
    .btn__icon,
    .btn__label {
      color: #fff;
    }
    &:not(disabled) {
      &:hover {
        background: #272727;
      }
      &:active {
        background: #525252;
      }
    }
  }

  &-gray-border {
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .btn__icon,
    .btn__label {
      color: #0f0f0f;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    &:active {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.btn__round-square {
  flex-wrap: nowrap;
  &-ghost {
    display: flex;
    align-items: center;
    padding: 0 16px;
    width: calc(100% - 12px);
    min-height: 40px;
    line-height: 40px;
    border-radius: 10px;
    &-icon {
      margin-right: 24px;
      width: 24px;
      height: 24px;
      line-height: 0;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &-label {
      font-size: 14px;
      font-weight: 400;
      color: #0f0f0f;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.btn--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;

  .btn__icon {
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.btn--medium {
    width: 40px;
    height: 40px;
    .btn__icon {
      width: 24px;
      height: 24px;
    }
  }

  &.btn--small {
    width: 24px;
    height: 24px;
    .btn__icon {
      width: 24px;
      height: 24px;
    }
  }

  &.btn--gray {
    background: rgba(0, 0, 0, 0.05);
    .btn__icon {
      fill: #0f0f0f;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    &:active {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  &.btn--ghost {
    position: relative;
    .btn__icon {
      fill: #0f0f0f;
    }

    .btn__alerts {
      position: absolute;
      top: 0;
      right: 0;
      width: 22px;
      height: 22px;
      background: #ff0000;
      border-radius: 50%;
      border: 2px solid #fff;
      color: #fff;
      line-height: 18px;
      font-size: 10px;
      font-weight: 500;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background: rgba(0, 0, 0, 0.1);
    }
    &.btn--active {
      svg {
        color: #333;
        fill: #333;
        stroke: none;
      }
    }
  }

  &.btn--ghost-blue {
    position: relative;
    &.btn--medium {
      .btn__icon {
        width: 20px;
        height: 20px;
      }
    }
    .btn__icon {
      fill: #065fd4;
    }
    &:hover {
      background: #def1ff;
    }
    &:active {
      background: #cbd8e3;
    }
  }
}

.emotion__btn {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 36px;
  border-radius: 999px;

  button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    height: 36px;
    background: #f2f2f2;
    &:first-of-type {
      padding: 0 16px 0 0;
      border-radius: 999px 0 0 999px;
      .btn__icon {
        position: absolute;
        left: 0;
        top: -4px;
        width: 50px;
        height: 50px;
      }
      .btn__label {
        margin-left: 40px;
        font-size: 14px;
        font-weight: 500;
      }
    }
    &:last-of-type {
      padding: 0 16px;
      border-radius: 0 999px 999px 0;
      .btn__icon {
        width: 28px;
        height: 28px;
        img {
          width: 28px;
          height: 28px;
          transform: rotate(180deg);
        }
      }
    }
    &:nth-child(n + 2) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 24px;
        background: rgba(0, 0, 0, 0.1);
      }
    }
    &:hover {
      background-color: #e5e5e5;
    }
  }
}

.profile__btn {
  flex-shrink: 0;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  &-img-wrapper {
    width: 100%;
    height: 100%;
  }
  &-img {
    width: 100%;
    height: 100%;
  }
  &--xSmall {
    width: 14px;
    height: 14px;
  }
  &--small {
    width: 24px;
    height: 24px;
  }
  &--medium {
    width: 36px;
    height: 36px;
  }
  &--large {
    width: 40px;
    height: 40px;
  }
  &--xlarge {
    width: 72px;
    height: 72px;
  }
  &--xxlarge {
    width: 136px;
    height: 136px;
  }
}

.subscription {
  &__btn {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 16px;
    width: 60px;
    height: 36px;
    background: #0f0f0f;
    border-radius: 18px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    transition: 1s ease;
    &-text {
      flex-shrink: 0;
    }
    &-lottie {
      width: 24px;
      height: 24px;
      margin-left: -6px;
      &-wrap {
        // display: none;
        visibility: hidden;
        overflow: hidden;
      }
    }
    &-icon {
      display: flex;
      align-items: center;
      width: 24px;
      height: 24px;
      visibility: hidden;
      overflow: hidden;
      svg {
        width: 100%;
      }
    }
    &-active {
      width: 120px;
      background: rgba(0, 0, 0, 0.05);
      color: #000;
      .subscription__btn-lottie-wrap {
        visibility: visible;
        // overflow: visible;
        // display: block;
      }
      .subscription__btn-icon {
        visibility: visible;
      }
    }
  }
}
