.dropdown {
  &__wrapper {
    position: relative;
    display: inline-block;
  }
  &__children {
    display: inline-block;
  }
  &__container {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    display: inline-block;
    padding: 8px 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 32px 0px;
    backdrop-filter: blur(8px);
    &--small {
      width: 116px;
      .dropdown__section {
        height: 36px;
        padding: 0 12px;
      }
    }
    &--medium {
      width: 223px;
      .dropdown__section {
        height: 36px;
        padding: 0 12px;
      }
      .dropdown-bar {
        margin: 8px 0;
      }
    }
    &--large {
      width: 300px;
      .dropdown__section {
        height: 40px;
        padding: 0 16px;
      }
    }
    &--xlarge {
      width: 480px;
      max-height: 642px;
      padding: 0 0 20px;
      .dropdown__section {
        padding: 0 16px;
      }
    }
  }
  &__section {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    cursor: pointer;
    .dropdown__menu-icon {
      width: 20px;
      height: 20px;
      margin-right: 16px;
      svg {
        width: 20px;
        height: 20px;
        fill: #030303;
      }
    }
    .dropdown__label {
      font-size: 14px;
      color: #0f0f0f;
    }
    .dropdown__fold-icon {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      svg {
        width: 14px;
        height: 14px;
        fill: #030303;
      }
    }
    &.dropdown__profile-section {
      align-items: flex-start;
      height: auto;
      padding: 8px 16px;
      cursor: initial;
      .dropdown__label {
        margin-left: 16px;
      }
      .dropdown__name {
        font-size: 14px;
        line-height: 22px;
      }
      .dropdown__nickname {
        font-size: 16px;
        line-height: 22px;
      }
      .dropdown__link {
        display: inline-block;
        margin-top: 8px;
        font-size: 14px;
        color: #065fd4;
      }
    }
    &.dropdown__announce-section {
      justify-content: space-between;
      height: 49px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      cursor: initial;
      .dropdown__label {
        font-size: 16px;
      }
    }
    &:not(
        .dropdown__profile-section,
        .dropdown__announce-section,
        .dropdown__scroll-section
      ) {
      &:hover {
        background: #f2f2f2;
      }
      &:active {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
  &__scroll-section {
    overflow-y: auto;
    cursor: initial;
    .dropdown__no-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 574px;
    }
    .dropdown__bell-icon {
      width: 120px;
      height: 120px;
      margin-bottom: 24px;
      svg {
        width: 120px;
        height: 120px;
        fill: #909090;
      }
    }
    .dropdown__no-data-message {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 8px;
      color: #606060;
    }
    .dropdown__no-data-description {
      font-size: 14px;
      color: #606060;
    }
  }
  &__announce-area {
    display: flex;
    flex-wrap: nowrap;
    padding: 16px 16px 16px 0;
    cursor: pointer;
    .dropdown__read-icon {
      flex-shrink: 0;
      width: 4px;
      height: 4px;
      margin: 22px 8px 0;
      border-radius: 50%;
      background: #295dcd;
      &.read {
        background: transparent;
      }
    }
    .dropdown__youtube-icon {
      width: 48px;
      height: 48px;
      margin-right: 16px;
      svg {
        width: 48px;
        height: 48px;
        fill: #ea3323;
      }
    }
    .dropdown__content {
      .dropdown__message {
        width: 242px;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
        color: #0f0f0f;
        text-overflow: ellipsis;
        overflow: hidden;
        webkit-line-clamp: 6;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .dropdown__time {
        font-size: 12px;
        color: #606060;
      }
    }
    .dropdown__video-thumbnail {
      width: 86px;
      margin: 0 16px;
    }
    .dropdown__more-icon {
      width: 20px;
      height: 20px;
      visibility: hidden;
      svg {
        width: 20px;
        height: 20px;
        fill: #030303;
      }
    }
    &:hover {
      background: rgba(0, 0, 0, 0.05);
      .dropdown__more-icon {
        visibility: visible;
      }
    }
  }
}

.dropdown-bar {
  height: 1px;
  margin-top: 8px;
  background: rgba(0, 0, 0, 0.1);
}
.dropdown-bar + .dropdown__section {
  margin-top: 8px;
}
