.dropdown {
  &__wrapper {
    display: inline-block;
    padding: 8px 0;
    border-radius: 12px;
    background: $text-primary-inverse;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 32px 0px;
    backdrop-filter: blur(8px);
    &--small {
      width: 116px;
      .dropdown__container {
        height: 36px;
        padding: 0 12px;
      }
    }
    &--medium {
      width: 223px;
      .dropdown__container {
        height: 36px;
        padding: 0 12px;
      }
      .dropdown-bar {
        margin: 8px 0;
      }
    }
    &--large {
      width: 300px;
      .dropdown__container {
        height: 40px;
        padding: 0 16px;
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    cursor: pointer;
    .dropdown__menu-icon {
      width: 20px;
      height: 20px;
      margin-right: 16px;
      svg {
        width: 20px;
        height: 20px;
        fill: #030303;
      }
    }
    .dropdown__label {
      font-size: 14px;
      color: #0f0f0f;
    }
    .dropdown__fold-icon {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      svg {
        width: 14px;
        height: 14px;
        fill: #030303;
      }
    }
    &.dropdown__profile-container {
      height: auto;
      padding: 8px 16px;
      cursor: initial;
      &:hover,
      &:active {
        background: transparent;
      }
      .dropdown__label {
        margin-left: 16px;
      }
      .dropdown__name {
        font-size: 16px;
        line-height: 22px;
      }
      .dropdown__nickname {
        font-size: 16px;
        line-height: 22px;
      }
      .dropdown__link {
        display: inline-block;
        margin-top: 8px;
        font-size: 14px;
        color: #065fd4;
      }
    }
    &:hover {
      background: #f2f2f2;
    }
    &:active {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  &__scroll-container {
    height: auto;
    overflow-y: auto;
  }
}
.dropdown-bar {
  height: 1px;
  margin-top: 8px;
  background: rgba(0, 0, 0, 0.1);
}

.dropdown__container:not(.dropdown__profile-container):nth-child(1),
.dropdown-bar + .dropdown__container {
  margin-top: 8px;
}
