.main {
  &__video {
    &-container {
      width: 340px;
      // max-width: 500px;
      &:hover {
        & .video__thumbnail-wrap {
          border-radius: 0;
        }
      }
    }
    &-thumbnail {
      width: 340px;
      height: 190px;
    }
    &-details {
      display: flex;
      margin-top: 12px;
      width: 100%;
    }
    &-desc {
      padding-right: 24px;
      margin-left: 10px;
      .video {
        &__title {
          display: -webkit-box;
          max-height: 44px;
          font-family: 'Roboto', 'Arial', sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          color: #0f0f0f;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          white-space: normal;
          overflow: hidden;
        }
        &__channel-name {
          display: block;
          margin-top: 4px;
          font-family: 'Roboto', 'Arial', sans-serif;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: #606060;
        }
      }
    }
    &-count {
      display: flex;
      max-height: 40px;
      font-family: 'Roboto', 'Arial', sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #606060;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
}
