.search {
  &__video {
    &-container {
      display: flex;
      // width: 340px;
      // max-width: 500px;
      &:hover {
        & .video__thumbnail-wrap {
          border-radius: 0;
        }
      }
    }
    &-thumbnail {
      position: relative;
      max-width: 360px;
      min-width: 240px;
    }
    &-details {
      display: flex;
      width: 100%;
    }
    &-desc {
      padding-right: 24px;
      margin-left: 16px;
      .video {
        &__title {
          display: -webkit-box;
          max-height: 52px;
          font-family: 'Roboto', 'Arial', sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 26px;
          color: #0f0f0f;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          white-space: normal;
          overflow: hidden;
        }
        &__channel-name {
          display: block;
          margin-top: 4px;
          font-family: 'Roboto', 'Arial', sans-serif;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: #606060;
        }
      }
      .badge__simple-wrap {
        margin-top: 8px;
      }
    }
    &-count {
      display: flex;
      max-height: 40px;
      font-family: 'Roboto', 'Arial', sans-serif;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      color: #606060;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      white-space: normal;
    }
    &-txt {
      margin-top: 12px;
      max-height: 36px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      color: #606060;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      white-space: normal;
    }
    &-badges {
      display: flex;
      margin-top: 8px;
    }
  }
  &__channel-info {
    display: flex;
    // align-items: center;
    margin-top: 12px;
    & .video__channel-name {
      margin-left: 8px;
      min-height: 18px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
  &__channel-container {
    display: flex;
  }
}
