.search {
  &__profile-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 16px;
    max-width: 360px;
    min-width: 240px;
  }
  &__channel {
    &-container {
      display: flex;
    }
    &-info {
      display: flex;
      align-items: center;
      flex: 1;
    }
    &-count {
      span + span {
        &::before {
          content: '•';
          margin: 0 4px;
        }
      }
    }
    &-desc {
      display: flex;
      flex-direction: column;
      padding: 0 16px 16px 0;
      margin-top: 12px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      color: rgb(96, 96, 96);
      & .video__channel-name {
        margin-bottom: 8px;
        max-height: 52px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: rgb(15, 15, 15);
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        white-space: normal;
      }
      .common-desc {
        margin-top: 4px;
      }
    }
  }
  &__wrapper {
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
    width: 1070px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__section {
    padding: 20px 0;
    & + & {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  &__video-wrap {
    .related {
      &__video-container {
        & + .related__video-container {
          margin-top: 16px;
        }
      }
    }
  }
}
