$variable-name: variable-value;
$text-primary: #0f0f0f;
$text-primary-inverse: #fff;
$secondary-title-color: #606060;
$bg-primary: rgba(0, 0, 0, 0.05);
$bg-hover-primary: rgba(0, 0, 0, 0.1);
$bg-hover-secondary: rgba(0, 0, 0, 0.05);
$bg-active-primary: rgba(0, 0, 0, 0.2);
$bg-active-secondary: rgba(0, 0, 0, 0.1);
$tab-hover-primary: rgba(0, 0, 0, 0.1);
$tab-hover-secondary: #909090;
